<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- to be changed in script to match its location -->
    <variable name="ScriptDirectory" value="${currentdir}" />

    <variable name="yyyyMMddHHmmss" value="${date:format=yyyy-MM-dd HH\:mm\:ss}"/>
    <variable name="yyyyMMdd" value="${date:format=yyyy-MM-dd}"/>
    <variable name="HHmmss" value="${date:format=HHmmss}"/>
    <variable name="date" value="${date:format=HH\:mm\:ss}"/>
    <variable name="time" value="${date:format=HH\:mm\:ss}"/>

    <variable name="BriefLayout" value="${time}|${level:uppercase=true}|${logger}|${message}"/>
    <variable name="VerboseLayout" value="${machinename}|${environment-user}|${logger}|${yyyyMMddHHmmss}|${level:uppercase=true}|${message}"/>

    <targets>
        <target name="logconsole" xsi:type="ColoredConsole" layout="${BriefLayout}"/>
        <target name="logfile" xsi:type="File" layout="${VerboseLayout}" fileName="${var:ScriptDirectory}/Logs/${logger}/Test-Logging.${yyyyMMdd}.${HHmmss}.log" createDirs="true" />
        <target name="database" type="Database">
            <connectionString>Data Source=10.10.10.10;Initial Catalog=Database;User Id=UserId;Password=Password;</connectionString>
            <commandText>
            INSERT INTO EventLog ( Created, Computer, [User], Source, [Level], TypeName, PrimaryKeyInt, PrimaryKeyVarchar, [Message], Exception ) 
            VALUES ( @Created, @Computer, @User, @Source, @Level, @TypeName, @PrimaryKeyInt, @PrimaryKeyVarchar, @Message, @Exception);
            </commandText>
            <parameter name="@Created" layout="${yyyyMMddHHmmss}"/>
            <parameter name="@Computer" layout="${machinename}"/>
            <parameter name="@User" layout="${environment-user}"/>
            <parameter name="@Source" layout="Test-Logging"/>
            <parameter name="@Level" layout="${level:uppercase=true}"/>
            <parameter name="@TypeName" layout="${event-properties:typeName}" allowDbNull="true" />
            <parameter name="@PrimaryKeyInt" layout="${event-properties:primary_key_int}" allowDbNull="true" />
            <parameter name="@PrimaryKeyVarchar" layout="${event-properties:primary_key_varchar}" allowDbNull="true" />
            <parameter name="@Message" layout="${message}"/>
            <parameter name="@Exception" layout="${exception}" allowDbNull="true" />
        </target>
        <target name="ISP" xsi:type="BufferingWrapper" bufferSize="100">
            <target xsi:type="Mail"
            subject="${logger}" body="${message}${newline}" to="" from=""
            smtpAuthentication="Basic" smtpUserName="" smtpPassword="" smtpServer="mail.server.net" smtpPort="587" enableSsl="true" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logconsole" enabled="true" />
        <logger name="*" minlevel="Trace" writeTo="logfile" enabled="true" />
        <logger name="*" minlevel="Info" writeTo="database" enabled="false" />
        <logger name="*" minlevel="Trace" writeTo="ISP" enabled="false" />
    </rules>
    
</nlog>